<!--  footer -->
<footer>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12" style="text-align:center;">
                    <div class="contact">
                        <h3>conatct us</h3>
                        <span>Taipei, Taiwan
                        +886 2 1234 5678</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <p>Copyright 2019 All Right Reserved By <a href="https://html.design/">Free html Templates</a></p>
        </div>

    </div>
</footer>
<!-- end footer -->
<!-- Javascript files-->
<script src="static/js/jquery.min.js"></script>
<script src="static/js/popper.min.js"></script>
<script src="static/js/bootstrap.bundle.min.js"></script>
<script src="static/js/jquery-3.0.0.min.js"></script>
<script src="static/js/plugin.js"></script>
<!-- sidebar -->
<script src="static/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="static/js/custom.js"></script>
<script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
<script>
         $(document).ready(function(){
         $(".fancybox").fancybox({
         openEffect: "none",
         closeEffect: "none"
         });

         $(".zoom").hover(function(){

         $(this).addClass('transition');
         }, function(){

         $(this).removeClass('transition');
         });
         });

      </script>
</body>
</html>